[General]
BUFFER_SIZE = 370
BUFF_BEFORE = 1.5

[Input]

PSUM_PH::create = PRECSPLITTING
PSUM_PH::PRECSPLITTING::type = THRESH
PSUM_PH::PRECSPLITTING::snow = 274.35
COORDSYS = CH1903
TIME_ZONE = 8
METEO = SMET
METEOPATH = /home/projects/data/snowpack_input/work
METEOPATH_RECURSIVE = TRUE
# 🚨 Change this
STATION1 = DXL.smet
SNOWFILE1 = DXL

[Output]
COORDSYS = CH1903
TIME_ZONE = 8
METEOPATH = /home/projects/data/snowpack_output/test
WRITE_PROCESSED_METEO = FALSE
# EXPERIMENT = Precip_Neum
SNOW_WRITE = FALSE
PROF_WRITE = TRUE
PROF_FORMAT = PRO
PROF_START = 0.0
PROF_DAYS_BETWEEN = 0.04166667
HARDNESS_IN_NEWTON = FALSE
TS_WRITE = TRUE
TS_FORMAT = SMET
ACDD_WRITE = TRUE
TS_START = 0.0
TS_DAYS_BETWEEN = 0.04166667
AVGSUM_TIME_SERIES = TRUE
CUMSUM_MASS = FALSE
PRECIP_RATES = TRUE
OUT_CANOPY = FALSE
OUT_HAZ = TRUE
OUT_SOILEB = FALSE
OUT_HEAT = TRUE
OUT_T = TRUE
OUT_LW = TRUE
OUT_SW = TRUE
OUT_MASS = TRUE
OUT_METEO = TRUE
OUT_STAB = TRUE

[Snowpack]
CALCULATION_STEP_LENGTH = 15.0
ROUGHNESS_LENGTH = 0.04
HEIGHT_OF_METEO_VALUES = 1.5
HEIGHT_OF_WIND_VALUE = 2
ENFORCE_MEASURED_SNOW_HEIGHTS = FALSE
SW_MODE = BOTH
ATMOSPHERIC_STABILITY = MO_MICHLMAYR
CANOPY = FALSE
MEAS_TSS = TRUE
CHANGE_BC = FALSE
SNP_SOIL = FALSE

[SnowpackAdvanced]
VARIANT = DEFAULT
RESEARCH = TRUE
ADJUST_HEIGHT_OF_METEO_VALUES = TRUE
ADJUST_HEIGHT_OF_WIND_VALUE = TRUE
SNOW_EROSION = TRUE
WIND_SCALING_FACTOR = 1.0
NUMBER_SLOPES = 1
PERP_TO_SLOPE = FALSE
ALLOW_ADAPTIVE_TIMESTEPPING = TRUE
THRESH_RAIN = 1.2
FORCE_RH_WATER = TRUE
THRESH_RH = 0.5
THRESH_DTEMP_AIR_SNOW = 3.0
HOAR_THRESH_TA = 1.2
HOAR_THRESH_RH = 0.97
HOAR_THRESH_VW = 3.5
HOAR_DENSITY_BURIED = 125
HOAR_MIN_SIZE_BURIED = 2.0
HOAR_DENSITY_SURF = 100
FIXED_POSITIONS = 0.25 0.5 1.0 -0.25 -0.10
MIN_DEPTH_SUBSURF = 0.07
T_CRAZY_MIN = 210
T_CRAZY_MAX = 340
METAMORPHISM_MODEL = DEFAULT
NEW_SNOW_GRAIN_SIZE = 0.3
STRENGTH_MODEL = DEFAULT
VISCOSITY_MODEL = DEFAULT
SALTATION_MODEL = SORENSEN
ENABLE_VAPOUR_TRANSPORT = FALSE
WATERTRANSPORTMODEL_SNOW = BUCKET
WATERTRANSPORTMODEL_SOIL = BUCKET
SOIL_EVAP_MODEL = EVAP_RESISTANCE
SOIL_THERMAL_CONDUCTIVITY = FITTED
ALBEDO_AGING = TRUE
SW_ABSORPTION_SCHEME = MULTI_BAND
HARDNESS_PARAMETERIZATION = MONTI
DETECT_GRASS = FALSE
PLASTIC = FALSE
JAM = FALSE
WATER_LAYER = FALSE
HEIGHT_NEW_ELEM = 0.02
MINIMUM_L_ELEMENT = 0.0025
COMBINE_ELEMENTS = TRUE
TWO_LAYER_CANOPY = TRUE
CANOPY_HEAT_MASS = TRUE
CANOPY_TRANSMISSION = TRUE
FORESTFLOOR_ALB = TRUE
ADVECTIVE_HEAT = FALSE

[Filters]
ENABLE_METEO_FILTERS = TRUE
PSUM::FILTER1 = MIN
PSUM::ARG1::SOFT = true
PSUM::ARG1::MIN = 0.0
TA::FILTER1 = MIN_MAX
TA::ARG1::MIN = 240
TA::ARG1::MAX = 320
RH::FILTER1 = MIN_MAX
RH::ARG1::MIN = 0.01
RH::ARG1::MAX = 1.2
RH::FILTER2 = MIN_MAX
RH::ARG2::SOFT = true
RH::ARG2::MIN = 0.05
RH::ARG2::MAX = 1.0
ISWR::FILTER1 = MIN_MAX
ISWR::ARG1::MIN = -10
ISWR::ARG1::MAX = 1500
ISWR::FILTER2 = MIN_MAX
ISWR::ARG2::SOFT = true
ISWR::ARG2::MIN = 0
ISWR::ARG2::MAX = 1500
RSWR::FILTER1 = MIN_MAX
RSWR::ARG1::MIN = -10
RSWR::ARG1::MAX = 1500
RSWR::FILTER2 = MIN_MAX
RSWR::ARG2::SOFT = true
RSWR::ARG2::MIN = 0
RSWR::ARG2::MAX = 1500
ILWR::FILTER1 = MIN_MAX
ILWR::ARG1::MIN = 188
ILWR::ARG1::MAX = 600
ILWR::FILTER2 = MIN_MAX
ILWR::ARG2::SOFT = true
ILWR::ARG2::MIN = 200
ILWR::ARG2::MAX = 400
TSS::FILTER1 = MIN_MAX
TSS::ARG1::MIN = 200
TSS::ARG1::MAX = 320
TSG::FILTER1 = MIN_MAX
TSG::ARG1::MIN = 200
TSG::ARG1::MAX = 320
HS::FILTER1 = MIN
HS::ARG1::SOFT = true
HS::ARG1::MIN = 0.0
HS::FILTER2 = RATE
HS::ARG2::MAX = 3000
VW::FILTER1 = MIN_MAX
VW::ARG1::MIN = -2
VW::ARG1::MAX = 70
VW::FILTER2 = MIN_MAX
VW::ARG2::SOFT = true
VW::ARG2::MIN = 0.0
VW::ARG2::MAX = 50.0
ENABLE_TIME_FILTERS = TRUE

[Interpolations1D]
ENABLE_RESAMPLING = TRUE
WINDOW_SIZE = 86400
PSUM::RESAMPLE = ACCUMULATE
PSUM::ACCUMULATE::PERIOD = 900
HS::RESAMPLE = LINEAR
HS::LINEAR::WINDOW_SIZE = 43200
VW::RESAMPLE = NEAREST
VW::NEAREST::EXTRAPOLATE = true
DW::RESAMPLE = NEAREST
DW::NEAREST::EXTRAPOLATE = true
[InputEditing]
ENABLE_TIMESERIES_EDITING = TRUE
[TechSnow]
SNOW_GROOMING = FALSE
